<div class="absolute-bottom-action-btn menu-btn" style="width: 100%">
    <div class="row center">
        <div class="col s12 m6 l4 offset-m3 offset-l4">
            <div class="col s12 offset-s1">
                <div class="col s2 logo-container">
                    <a href="https://www.instagram.com/romaef_/" target="_blank">
                        <img class="img img-logos" src="/public/landing/img/icons/instagram.png">
                    </a>
                </div>
                <div class="col s2 logo-container">
                    <a href="https://twitter.com/romaestradaflo" target="_blank">
                        <img class="img img-logos" src="/public/landing/img/icons/twit.png">
                    </a>
                </div>
                <div class="col s2 logo-container">
                    <a href="https://www.facebook.com/romaef/" target="_blank">
                        <img class="img img-logos" src="/public/landing/img/icons/facebook.png">
                    </a>
                </div>
                <div class="col s2 logo-container">
                    <a href="https://gist.github.com/RomarioEstrada" target="_blank">
                        <img class="img img-logos" src="/public/landing/img/icons/git_hub.png">
                    </a>
                </div>
                <div class="col s2 logo-container">
                    <a href="https://www.linkedin.com/in/romario-augusto-estrada-fl%C3%B3rez-18b66a159" target="_blank">
                        <img class="img img-logos" src="/public/landing/img/icons/linkedin.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="btnssocial">
    <a class="waves-effect waves-light btn-floating social vimeo">
    <i class="fa fa-vimeo"></i> mi instagrama</a>
</div> -->