<!-- sideNav -->
<div class="sidenav-roma" style="display: none">
    <ul >
        <div class="close-nav absolute-action-btn menu-btn" ng-click="closeNav()">
            <i class="material-icons">
                close
            </i>
        </div>
        <li ng-click="inicio()">
            <a>
                <p>
                    Inicio
                </p>
            </a>
        </li>
        <li>
            <div class="divider">
            </div>
        </li>
        <li ng-click="hojaDeVida()">
            <a>
                <p>
                    Hoja de vida
                </p>
            </a>
        </li>
        <li>
            <div class="divider">
            </div>
        </li>
        <li ng-click="fullstack()">
            <a>
                <p>
                    ¿Full stack?
                </p>
            </a>
        </li>
        <li>
            <div class="divider">
            </div>
        </li>
        <li ng-click="goToContact()">
            <a>
                <p>
                    Contacto
                </p>
            </a>
        </li>
        <li>
            <div class="divider">
            </div>
        </li>
        <a href="https://gist.github.com/RomarioEstrada" target="_blank">
            <li>
                <img alt="" class="img img-responsive" src="/public/landing/img/icons/git_hub.png"/></a>
                <!-- <p>
                    Mira mis funciones en GIThub
                </p> -->
            </li>
        </a>
    </ul>
</div>