<div ng-controller="clientesAdmCtrl" ng-init="init()">
    <div class="wrapper ">
        <div ng-include src="'/includes_admin/sidebar.html'"></div>

        <div class="main-panel">
            <div ng-include src="'/includes_admin/navbar.html'"></div>

            <div class="content">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-warning">
                                    <h4 class="card-title">
                                        Agregar cliente
                                    </h4>
                                    <p class="card-category">
                                        Llene los campos requeridos
                                    </p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">
                                                        N° de identificación
                                                    </label>
                                                    <input class="form-control" ng-model="nuevoCliente.identificacion"
                                                        id="identificacion" name="identificacion" type="number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">
                                                        Nombres
                                                    </label>
                                                    <input class="form-control" ng-model="nuevoCliente.nombres" id="nombres"
                                                        name="nombres" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">
                                                        Apellidos
                                                    </label>
                                                    <input class="form-control" ng-model="nuevoCliente.apellidos" id="apellidos"
                                                        name="apellidos" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">
                                                        E-mail
                                                    </label>
                                                    <input class="form-control" ng-model="nuevoCliente.correo" id="correo"
                                                        name="correo" type="email" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">
                                                        Dirección
                                                    </label>
                                                    <input class="form-control" ng-model="nuevoCliente.direccion" id="direccion"
                                                        name="direccion" type="text" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">
                                                        Teléfono
                                                    </label>
                                                    <input class="form-control" ng-model="nuevoCliente.telefono" id="telefono"
                                                        name="telefono" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-warning pull-right" ng-click="guardarCliente(nuevoCliente)">
                                            Agregar
                                        </button>
                                        <div class="clearfix">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>