<div ng-controller="languagesAdmCtrl" ng-init="init()">
	<div class="wrapper ">
		<div ng-include src="'/includes_admin/sidebar.html'"></div>
		
		<div class="main-panel">
				<div ng-include src="'/includes_admin/navbar.html'"></div>
			<div class="content">

				<div class="container-fluid">
					<div class="row justify-content-md-center">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header card-header-tabs card-header-{{styleOfTheSite}}">
									<div class="nav-tabs-navigation">
										<div class="nav-tabs-wrapper">
											<!-- <span class="nav-tabs-title">Tasks:</span> -->
											<ul class="nav nav-tabs" data-tabs="tabs">
												<li class="nav-item">
													<a class="nav-link" ng-class="{ active: isSet(1) }" ng-click="setTab(1)" data-toggle="tab" href="">
														<i class="material-icons">list</i> Listar
														<div class="ripple-container"></div>
													</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" ng-class="{ active: isSet(2) }" ng-click="setTab(2)" data-toggle="tab" href="">
														<i class="material-icons">create</i> Crear
														<div class="ripple-container"></div>
													</a>
												</li>
												<li class="nav-item" ng-if="showEditForm == true">
													<a class="nav-link" ng-class="{ active: isSet(3) }" ng-click="setTab(3)" data-toggle="tab" href="">
														<i class="material-icons">edit</i> Editar {{languageToEdit.nombre}}
														<div class="ripple-container"></div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- Secciones -->
								<div class="card-body">
									<div class="tab-content">
										<!-- listar -->
										<div class="tab-pane" ng-class="{ active: isSet(1) }">
											<div class="table-responsive">
												<table class="table table-hover">
													<thead class="">
														<th>Logo</th>
														<th>Nombre</th>
														<th>Selector</th>
														<th>Porcentaje</th>
														<th>Tipo</th>
														<th>Descripción</th>
														<th>Acción</th>
													</thead>
													<tbody>
														<tr ng-repeat="language in languages">
															<td>
																<img class="img img-responsive img-table" ng-if="language.media.url" src="/languages-img/{{language.media.url}}">
																<img class="img img-responsive img-table" ng-if="!language.media.url" src="/languages-img/default.png">
															</td>
															<td>{{language.nombre}}</td>
															<td>{{language.selector}}</td>
															<td>{{language.porcentaje}}</td>
															<td>{{language.tipo}}</td>
															<td>{{language.descripcion | limitTo: 100 }}{{language.descripcion.length > 100 ? '...' : ''}}</td>
															<td>
																<i class="material-icons delete-image text-{{styleOfTheSite}} pointer pull-left" ng-click="openEdit(language)">
																	edit
																</i>
																<i class="material-icons delete-image text-danger pointer pull-right" ng-click="modalDeleteLanguage(language)">
																	delete_forever
																</i>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<!-- Crear -->
										<div class="card border-none tab-pane" ng-class="{ active: isSet(2) }">
											<div class="card-profile">
												<a ng-if="language.media.url" class="pichref" id="createImg" href="/languages-img/{{language.media.url}}" data-lightbox="image-1" data-title="{{language.nombre}}">
													<div class="image-cropper">
														<div class="circle profile-pic" data-img-id="createImg" style="background-image: url('/languages-img/{{language.media.url}}')"></div>
													</div>
												</a>
												<a ng-if="!language.media.url" class="pichref" id="createImg" href="/languages-img/default.png" data-lightbox="image-2" data-title="{{languageToEdit.nombre}}">
													<div class="image-cropper">
														<div class="circle profile-pic" data-img-id="createImg" style="background-image: url('/languages-img/default.png')"></div>
													</div>
												</a>
												<div class="p-image">
													<i class="material-icons upload-button create">
														add_a_photo
													</i>
													<input class="file-upload create" type="file" accept="image/*" data-img-id="createImg"/>
												</div>
											</div>
											<div class="card-body">
												<form>
													<div class="col-md-12" style="margin-top: 15px">
														<h4 class="card-title text-center">Información básica</h4>
													</div>
													<div class="row">
														<div class="form-group col-md-6">
															<label class="col-form-label" for="recipient-name">    
															Nombre
															</label>
															<input class="form-control" id="nombre" name="nombre" ng-model="language.nombre" type="text">
														</div>
														<div class="form-group col-md-6">
															<label class="col-form-label" for="recipient-name">
															Porcentaje de aprendizaje
															</label>
															<input class="form-control" id="porcentaje" name="porcentaje" ng-model="language.porcentaje" type="number">
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label for="repeatSelect"> Tipo: </label>
																<select class="form-control" id="tipo" name="tipo" ng-model="language.tipo.id" >
																	<option ng-repeat="opcion in tipos" ng-value="{{opcion.id}}" ng-click="escogido(opcion)">{{opcion.nombre}}</option>
																</select>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="repeatSelect"> Selector: </label>
																<input class="form-control" id="selector" name="selector" ng-model="language.selector" type="text">
															</div>
														</div>
														<div class="col-md-8">
															<div class="form-group">
																<label for="repeatSelect"> Descripción: </label>
																<textarea class="form-control" id="descripcion" name="descripcion" ng-model="language.descripcion"></textarea>
															</div>
														</div>
													</div>
													<button class="btn btn-{{styleOfTheSite}} pull-right" ng-click="crear()">
														Crear
													</button>
													<div class="clearfix">
													</div>
													<div class="row">
													</div>
												</form>
											</div>
										</div>
										<!-- Editar -->
										<div class="card border-none tab-pane" ng-class="{ active: isSet(3) }">
											<div class="card-profile">
												<a ng-if="languageToEdit.media.url" class="pichref" id="editImg" href="/languages-img/{{languageToEdit.media.url}}" data-lightbox="image-2" data-title="{{languageToEdit.nombre}}">
													<div class="image-cropper">
														<div class="circle profile-pic" data-img-id="editImg" style="background-image: url('/languages-img/{{languageToEdit.media.url}}')"></div>
													</div>
												</a>
												<a ng-if="!languageToEdit.media.url" class="pichref" id="editImg" href="/languages-img/default.png" data-lightbox="image-2" data-title="{{languageToEdit.nombre}}">
													<div class="image-cropper">
														<div class="circle profile-pic" data-img-id="editImg" style="background-image: url('/languages-img/default.png')"></div>
													</div>
												</a>
												<div class="p-image">
													<i class="material-icons upload-button edit">
														add_a_photo
													</i>
													<input class="file-upload edit" type="file" accept="image/*" data-img-id="editImg"/>
												</div>
											</div>
											<div class="card-body">
												<form>
													<div class="col-md-12" style="margin-top: 15px">
														<h4 class="card-title text-center">Información básica</h4>
													</div>
													<div class="row">
														<div class="form-group col-md-6">
															<label class="col-form-label" for="recipient-name">    
															Nombre
															</label>
															<input class="form-control" id="nombre" name="nombre" ng-model="languageToEdit.nombre" type="text">
														</div>
														<div class="form-group col-md-6">
															<label class="col-form-label" for="recipient-name">
															Porcentaje de aprendizaje
															</label>
															<input class="form-control" id="porcentaje" name="porcentaje" ng-model="languageToEdit.porcentaje" type="number">
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group">
																<label for="repeatSelect"> Tipo: </label>
																<select class="form-control" id="tipo" name="tipo" ng-model="languageToEdit.tipo.id" >
																	<option ng-repeat="opcion in tipos" ng-value="{{opcion.id}}" ng-click="escogido(opcion)">{{opcion.nombre}}</option>
																</select>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label for="repeatSelect"> Selector: </label>
																<input class="form-control" id="selector" name="selector" ng-model="languageToEdit.selector" type="text">
															</div>
														</div>
														<div class="col-md-8">
															<div class="form-group">
																<label for="repeatSelect"> Descripción: </label>
																<textarea class="form-control" id="descripcion" name="descripcion" ng-model="languageToEdit.descripcion"></textarea>
															</div>
														</div>
													</div>
													<button class="btn btn-{{styleOfTheSite}} pull-right" ng-click="editar()">
														Editar
													</button>
													<div class="clearfix">
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- displays none -->
<input type="text" id="languageToDelete" value="" style="display: none">