<div ng-controller="nominaAdmCtrl" ng-init="init()">
    <div class="wrapper ">
        <div ng-include src="'/includes_admin/sidebar.html'"></div>
        
        <div class="main-panel">
            <div ng-include src="'/includes_admin/navbar.html'"></div>
            
            <div class="content">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-warning">
                                    <h4 class="card-title">
                                        Agregar Nomina
                                    </h4>
                                    <p class="card-category">
                                        Llene los campos requeridos
                                    </p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="repeatSelect"> Empleado </label>
                                                    <select class="form-control" id="empleado" name="empleado" ng-model="nuevaNomina.empleado.id" >
                                                        <option ng-repeat="opcion in empleados" ng-value="{{opcion.id}}" ng-click="escogido(opcion)">{{opcion.nombre}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">
                                                        Sueldo $ {{nuevaNomina.sueldo}}
                                                    </label>
                                                    <input class="form-control" ng-model="nuevaNomina.sueldo" id="sueldo" name="sueldo" type="text"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">
                                                        Fecha
                                                    </label>
                                                    <input class="form-control" id="fechaLiquidacion" name="fechaLiquidacion" type="text" ng-value="{{nuevaNomina.empleado.fechaLiquidacion}}" disabled="disabled" />
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-warning pull-right" ng-click="liquidarNomina(nuevaNomina)">
                                            Liquidar
                                        </button>
                                        <div class="clearfix">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>