<div class="card card-profile">
    <div class="card-avatar">
        <a href="#wilmer">
            <img class="img" src="/public/images/1.jpg"/>
        </a>
    </div>
    <div class="card-body">
        <h6 class="card-category text-gray">
            Administrador
        </h6>
        <h4 class="card-title">
            {{usuarioLogueado.nombre}} {{usuarioLogueado.apellidos}}
        </h4>
        <p class="card-description">
            {{usuarioLogueado.email}}
        </p>
        <a class="btn btn-primary btn-round" href="#romario">
            Ir a Perfil
        </a>
    </div>
</div>